* {
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 194, 31);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    /* margin-bottom: auto;
    padding: 20px; */
}

h2 {
    margin-bottom: 15px;
    text-align: left;
    /* padding: 10px; */
}

.first {
    color: cadetblue;
    margin: 10px;
    /* padding: 10px; */
    /* text-align: center; */
}

.second {
    color: darkseagreen;
    font-family: cursive;
    /* margin: 15px;
    padding: 15px; */
    text-align: left;
}

#your-name {
    background-color: bisque;
    border: 5px solid #333;
    width:auto;
    padding: 20px;
    text-align: center;
}

#your-name h2 {
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
}

img {
    width: 400px;
    padding: 20px;
    margin: 20px;
}

input, button {
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color:cornflowerblue;
}